<div id="toast-{{ tags }}" role="alert">
  <div
    class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg {% if tags == 'success' %}text-green-500 bg-green-600 dark:bg-green-800 dark:text-green-200{% elif tags == 'warning' %}text-amber-500 bg-amber-600 dark:bg-amber-700 dark:text-amber-200{% elif tags == 'error' %}text-red-500 bg-red-600 dark:bg-red-800 dark:text-red-200{% elif tags == 'info' %}text-blue-500 bg-blue-600 dark:bg-blue-800 dark:text-blue-200{% endif %}"
  >
    {% if tags == 'success' %}
    <i class="fa-solid fa-circle-check text-white"></i>
    {% elif tags == 'warning' %}
    <i class="fa-solid fa-circle-exclamation text-white"></i>
    {% elif tags == 'error' %}
    <i class="fa-solid fa-circle-xmark text-white"></i>
    {% elif tags == 'info' %}
    <i class="fa-solid fa-circle-info text-white"></i>
    {% endif %}
  </div>
  <div class="ml-3 text-sm font-normal">{{ message }}</div>
  <button
    type="button"
    data-dismiss-target="#toast-{{ tags }}"
    aria-label="Close"
  >
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
